<!--
  Generated template for the RealEastatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-row">

  <ion-row class="header-component">
    <ion-col col-2>
      <ion-row class="full-height">
        <ion-icon name="md-menu" menuToggle class="menu-icon">
        </ion-icon>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-header>


<ion-content>

  <ion-row class="logo-row first-row">
    <img class="logo-image" src="assets/imgs/non-logo.png" />
  </ion-row>

  <ion-row class="page-title">
    <span>
      Real-eastate
    </span>
    <br>
    <span class="small-page-title">
      {{smallPageTitle}}
    </span>
  </ion-row>

  <ion-row *ngIf="noProperty">
    <ion-row class="property-row">
      <span>
        No Property Loaded
        <br> Please contact a licenced
        <br> real estate agent to load
        <br> a property
      </span>
    </ion-row>
    <ion-row class="find-estate">
      <button mat-raised-button (click)="findEstateAgent()">
        Find Estate Agent
      </button>
    </ion-row>
  </ion-row>

  <ion-row *ngIf="!noProperty">
    <ion-row class="building-image-row" *ngIf="!switchArrow">
      <ion-col col-10>
        <ion-row class="full-height">
          <img src="{{buildingImage}}" />
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row class="full-height">
          <ion-icon name="ios-arrow-forward" (click)="clickNext()">
          </ion-icon>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="building-image-row" *ngIf="switchArrow">
      <ion-col col-2>
        <ion-row class="full-height">
          <ion-icon name="ios-arrow-back" (click)="clickBefore()">
          </ion-icon>
        </ion-row>
      </ion-col>

      <ion-col col-10>
        <ion-row class="full-height">
          <img src="{{buildingImage}}" />
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="padding-row">
      <ion-row class="build-des-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <span>
              {{addressName}}, {{propertyCity}}
              <br>{{propertyState}}
              <br>{{propertyPostcode}} {{propertyCountry}}
            </span>
          </ion-row>
        </ion-col>
        <span class="jointly-owned" *ngIf="switchjointly">
          Jointly Owned
        </span>
      </ion-row>

      <ion-row class="bulding-price">
        <ion-row class="each-price-row">
          <ion-col col-7>
            <ion-row class="full-height">
              <span>
                Current MV
              </span>
            </ion-row>
          </ion-col>

          <ion-col col-5>
            <ion-row class="full-height">
              <span>
                {{currentMV}}
              </span>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="each-price-row">
          <ion-col col-7>
            <ion-row class="full-height">
              <span>
                Equity
              </span>
            </ion-row>
          </ion-col>

          <ion-col col-5>
            <ion-row class="full-height">
              <span class="equity-value">
                {{equityValue}}
              </span>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="each-price-row" *ngIf="switchMortgage">
          <ion-col col-7>
            <ion-row class="full-height">
              <span>
                Debt Balance
              </span>
            </ion-row>
          </ion-col>

          <ion-col col-5>
            <ion-row class="full-height">
              <span class="debt-value">
                {{debtValue}}
              </span>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row class="each-price-row">
          <ion-col col-7>
            <ion-row class="full-height">
              <span>
                Eq/share swaps
              </span>
            </ion-row>
          </ion-col>

          <ion-col col-5>
            <ion-row class="full-height">
              <span>
                {{swapsValue}}
              </span>
            </ion-row>
          </ion-col>
        </ion-row>

        <!-- <ion-row class="each-price-row">
          <ion-col col-12>
            <ion-row class="full-height">
              <span>
                Pending Equity Swap
              </span>
            </ion-row>
          </ion-col>
        </ion-row> -->


        <ion-row class="each-price-row">
          <ion-col col-7>
            <ion-row class="full-height">
              <span>
                Pending Share Buy
              </span>
            </ion-row>
          </ion-col>

          <ion-col col-5>
            <ion-row class="full-height">
              <span>
                {{pendingShareBuy}}
              </span>
            </ion-row>
          </ion-col>
        </ion-row>


        <ion-row class="each-price-row">
          <ion-col col-7>
            <ion-row class="full-height">
              <span>
                Pending Share Sell
              </span>
            </ion-row>
          </ion-col>

          <ion-col col-5>
            <ion-row class="full-height">
              <span>
                {{pendingShareSell}}
              </span>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-row>
    </ion-row>
  </ion-row>

  <ion-row class="trade-centre" *ngIf="!noProperty">
    <span (click)="gotoRealEstate()">
      Trade Centre
    </span>
  </ion-row>

  <ion-row class="buy-sell-row" *ngIf="!noProperty">
    <ion-col col-4>
      <ion-row class="full-height">
        <span class="invest-buy" (click)="clickBuy()">
          BUY
        </span>
      </ion-row>
    </ion-col>

    <ion-col col-4>
      <ion-row class="full-height" *ngIf="!noProperty">
        <img class="finger-image" src="assets/imgs/finger.png" />
      </ion-row>
    </ion-col>

    <ion-col col-4>
      <ion-row class="full-height" *ngIf="!noProperty">
        <span class="invest-sell" (click)="clickSell()">
          SELL
        </span>
      </ion-row>
    </ion-col>
  </ion-row>

  <!-- <ion-row class="access-code">
    <button mat-raised-button (click)="accessCode()">
      ACCESS CODE
    </button>
  </ion-row> -->

</ion-content>