<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>313767785609-soafi9l552n14qkqfmmpkvid2aoq6k3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313767785609-soafi9l552n14qkqfmmpkvid2aoq6k3r</string>
	<key>API_KEY</key>
	<string>AIzaSyAJaUkTCxh5kCabcMCL3ZecfL325l2JEwc</string>
	<key>GCM_SENDER_ID</key>
	<string>313767785609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dmc.australia.com</string>
	<key>PROJECT_ID</key>
	<string>digitalminingcorpau-dc32a</string>
	<key>STORAGE_BUCKET</key>
	<string>digitalminingcorpau-dc32a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313767785609:ios:7e2a7403237c40cb</string>
	<key>DATABASE_URL</key>
	<string>https://digitalminingcorpau-dc32a.firebaseio.com</string>
</dict>
</plist>