page-forgot-password {
    .page-des {
        margin-top: 20px;
        span {
            margin: auto;
            text-align: center;
            font-size: 1.7rem;
            width: 70%;
        }
    }
    form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    .user-input-row {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .request-change {
        margin-bottom: 30px;
        button {
            width: 50%;
            margin: auto;
            border-radius: 5px;
            background-color: #2a35e6;
            color: white;
            font-size: 1.8rem;
        }
    }
    .confirm-des {
        margin-top: 20px;
        span {
            font-size: 1.7rem;
            text-align: center;
            margin: auto;
            width: 70%;
        }
    }
    .confirm-button {
        margin-bottom: 20px;
        button {
            width: 50%;
            margin: auto;
            border-radius: 5px;
            background-color: #2a35e6;
            color: white;
            font-size: 1.8rem;
        }
    }
    .resend-code {
        margin-top: 10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        span {
            font-size: 1.7rem;
            text-align: center;
            margin: auto;
        }
        .resend-code-span {
            margin-top: 5px;
            color: blue;
        }
    }
}