<!--
  Generated template for the EmailConfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-row class="total-modal">

  <ion-row class="confirm-modal">

    <ion-row class="close-modal">
      <ion-icon name="md-close" (click)="goback()" class="menu-icon"></ion-icon>
    </ion-row>

    <ion-row class="logo-row first-row">
      <img class="logo-image" src="assets/imgs/logo.png" />
    </ion-row>

    <form #emailPDF="ngForm" id="emailPDF" (ngSubmit)="sendEmail()" novalidate>
      <ion-row class="pin-text">
        <ion-row class="check-row">
          <section>
            <mat-checkbox [(ngModel)]="confirmEmail" name="confirmemail">Send to my email</mat-checkbox>
          </section>
        </ion-row>
        <ion-row class="user-input-row" *ngIf="!confirmEmail">
          <mat-form-field>
            <input matInput type="email" [formControl]="emailCtrl" placeholder="Email Address" [(ngModel)]="otherEmail" required name="otheremail">
            <mat-error *ngIf="emailCtrl.hasError('email') && !emailCtrl.hasError('required')">
              Please input valid email address.
            </mat-error>

            <mat-error *ngIf="emailCtrl.hasError('required')">
              Email address is required.
            </mat-error>
          </mat-form-field>
        </ion-row>

        <ion-row class="access-row">
          <button mat-raised-button class="avail_access">
            Email PDF
          </button>
        </ion-row>

      </ion-row>
    </form>

    <ion-row class="trax-logo">
      <img src="assets/imgs/big-trax.jpg" class="trax-logo-image" />
    </ion-row>
  </ion-row>

</ion-row>