page-eascrow {
    .logo-image {
        width: 30%;
    }
    .page-title {
        margin-top: 20px;
        span {
            font-size: 2rem;
            text-align: center;
            margin: auto;
        }
    }
    .transaction-title {
        margin-top: 20px;
        border-top: 1px solid #40598d;
        border-bottom: 1px solid #40598d;
        background-color: #4472c4;
        span {
            color: white;
            font-size: 2.5rem;
            text-align: center;
            margin: auto;
            padding: 5px 0px;
        }
    }
    .each-tran-row {
        margin-top: 30px;
        margin-bottom: 30px;
        button {
            border: 1px solid #40598d;
            background-color: #4472c4;
            color: white;
            margin: auto;
            width: 250px;
        }
    }
}