page-escrow-pending {
    .logo-image {
        width: 30%;
    }
    .page-title {
        margin-top: 20px;
        span {
            font-size: 2rem;
            text-align: center;
            margin: auto;
        }
    }
    .transaction-title {
        margin-top: 20px;
        border-top: 1px solid #40598d;
        border-bottom: 1px solid #40598d;
        background-color: #4472c4;
        span {
            color: white;
            font-size: 2.5rem;
            text-align: center;
            margin: auto;
            padding: 5px 0px;
        }
    }
    .pending-button {
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        button {
            border: 1px solid #40598d;
            background-color: #4472c4;
            color: white;
            margin: auto;
            width: 90%;
        }
        .start-transaction {
            background-color: #00b050;
        }
        ion-icon {
            position: absolute;
            right: 7%;
            top: 15%;
            color: yellow;
            font-size: 2.5rem;
        }
        img {
            position: absolute;
            right: 7%;
            top: 15%;
            width: 25px;
            height: 25px;
        }
    }
    .pending-transaction-title {
        span {
            font-size: 1.7rem;
            text-align: center;
            margin: auto;
            font-weight: bold;
        }
    }
    .each-tran-title {
        margin-top: 5px;
        padding-left: 1px;
        padding-right: 1px;
        span {
            color: white;
            text-align: center;
            margin: auto; // padding: 5px 0px;
        }
        ion-col {
            background-color: #4472c4;
        }
        ion-icon {
            margin: auto;
            font-size: 1.5rem;
            color: white;
        }
    }
    .tran-left-border {
        border-left: 1px solid white;
    }
    .each-tran-detail {
        margin-top: 3px;
        margin-bottom: 30px;
        span {
            margin: auto;
            text-align: center;
            font-size: 1.3rem;
            padding: 5px 0px;
        }
        .non-even-tran {
            border-bottom: 1px solid white;
            background-color: #e9ebf5;
        }
        .even-tran {
            border-bottom: 1px solid white;
            background-color: #cfd5ea;
        }
        .verified-span {
            border: 1px solid #40598d;
            background-color: #00b050;
            width: 100%;
            height: 100%;
            color: white;
        }
        .unverify-span {
            border: 1px solid #40598d;
            background-color: red;
            width: 100%;
            height: 100%;
            color: white;
        }
    }
    .edit-pending {
        width: 80%;
        margin: auto;
        font-size: 1.7rem;
        margin-top: 5px;
        margin-bottom: 5px;
        input {
            border: none !important;
            width: 100% !important;
            border-bottom: 1px solid rgba(0, 0, 0, 0.7) !important;
        }
        button {
            border: 1px solid #40598d;
            background-color: #00b050;
            width: 80%;
            margin: auto;
            color: white;
            font-size: 1.7rem;
            margin-bottom: 10px;
        }
        ion-col {
            padding: 0px;
        }
        span {
            margin-top: auto;
            margin-bottom: auto;
        }
        .dollar-symbole {
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
        }
        .verify-title {
            margin: auto;
            text-align: center;
        }
    }
}