page-trade-center {
    .logo-image {
        width: 30%;
    }
    .trade-center-titlee {
        margin-top: 5px;
        span {
            width: 100%;
            text-align: center;
            margin: auto;
            color: #ed8243;
        }
        .trade-title {
            color: black;
            font-size: 2.5rem;
            font-weight: 500;
        }
        .real-title {
            font-size: 2rem;
        }
        .eastate-value {
            font-size: 1.3rem;
        }
    }
    .building-image-row {
        margin-top: 10px;
        border-top: 1px solid #ed7d31;
        border-bottom: 1px solid #ed7d31;
        ion-col {
            padding: unset;
        }
        ion-icon {
            color: #ed7d31;
            margin: auto;
            font-size: 7rem;
        }
        img {
            width: 100%;
            height: 100%;
            margin: auto;
        }
    }
    .padding-row {
        span {
            padding: 0% 3%;
        }
    }
    .build-des-row {
        background-color: #f2f2f2; // margin-top: 10px;
        padding: 5px 0px;
        position: relative;
        span {
            color: black;
            margin-top: auto;
            margin-bottom: auto;
        }
        .jointly-owned {
            background-color: red;
            color: black;
            margin: auto;
            position: absolute;
            bottom: 0px;
            padding: 2%;
            right: 3px;
        }
    }
    .bulding-price {
        font-size: 1.8rem;
        margin-top: 10px;
        span {
            margin-top: auto;
            margin-bottom: auto;
        }
        .normal-value {
            color: black;
        }
        .equity-value {
            color: #9cc188;
        }
        .debt-value {
            color: #ff0a0a;
        }
    }
    .each-price-row {
        font-size: 1.8rem;
        margin-top: 10px;
        height: 30px;
        .normal-value {
            color: black;
        }
        .equity-value {
            color: #9cc188;
        }
        .debt-value {
            color: #ff0a0a;
        }
        span {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
    .trade-desk {
        border-top: 2px solid #e29e70;
        margin-top: 20px;
        margin-bottom: 20px;
        span {
            padding-left: 3%;
            padding-top: 5px;
            font-size: 2rem;
            font-weight: bold;
        }
    }
    .enter-volume-title {
        span {
            font-size: 1.6rem;
            text-align: left !important;
            margin-left: 0px;
        }
        ion-col {
            padding: 0;
        }
    }
    .right-element {
        text-align: right;
        margin-left: auto;
    }
    .trade-detail {
        font-size: 1.6rem;
        padding-left: 3%;
        padding-right: 5%;
        span {
            margin-top: auto;
            margin-bottom: auto;
        }
        ion-icon {
            color: #71b15c;
        }
        .edit-equity {
            height: 100%;
            border-bottom: 2px solid blue;
        }
        .show-equity {
            height: 100%;
        }
    }
    .confirm-part {
        margin-top: 25px;
        margin-bottom: 10px;
        span {
            font-size: 2rem;
            font-weight: bold;
            color: #71b15c;
            text-align: left;
            margin-top: auto;
            margin-bottom: auto;
        }
        img {
            width: 100%;
            height: 100%;
            margin: auto;
        }
    }
    .balance-margin-row {
        margin-bottom: 20px;
    }
    .balance-row {
        span {
            font-size: 1.6rem;
            color: #aeba54;
        }
        .balance-title {
            color: black;
        }
    }
    .pending-row {
        margin-bottom: 10px;
        button {
            margin: auto;
            background-color: #4472c4;
            border: 1px solid #40598d;
            color: white;
            height: 35px;
            line-height: 30px;
        }
        .pending-value {
            margin-top: auto;
            margin-bottom: auto;
            font-size: 2rem;
        }
    }
}