<!--
  Generated template for the EscrowCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-row">

  <ion-row class="header-component">
    <ion-col col-2>
      <ion-row class="full-height">
        <ion-icon name="md-menu" menuToggle class="menu-icon">
        </ion-icon>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-header>


<ion-content>

  <ion-row class="logo-row first-row">
    <img class="logo-image" src="assets/imgs/non-logo.png" />
  </ion-row>

  <ion-row class="page-title">
    <span>
      Escrow
    </span>
  </ion-row>

  <ion-row class="transaction-title">
    <span>Create Escrow Transactions</span>
  </ion-row>

  <ion-row class="each-create-row">
    <button mat-raised-button (click)="propertyAddress()">
      Property Address
    </button>
    <img src="assets/imgs/check.png" *ngIf="proCheck" />
  </ion-row>

  <ion-row class="input-property-addres" *ngIf="flagPropertyAddress">
    <ion-row class="each-property-row">
      <ion-col col-12>
        <ion-row class="full-height">
          <input matInput type="text" placeholder="Address" [(ngModel)]="proAddress1">
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="each-property-row">
      <ion-col col-12>
        <ion-row class="full-height">
          <input matInput type="text" placeholder="Address2" [(ngModel)]="proAddress2">
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="each-property-row">
      <ion-col col-12>
        <ion-row class="full-height">
          <input matInput type="text" placeholder="City" [(ngModel)]="proCity">
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="each-property-row">
      <ion-col col-12>
        <ion-row class="full-height">
          <input matInput type="text" placeholder="State" [(ngModel)]="proState">
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="each-property-row">
      <ion-col col-12>
        <ion-row class="full-height">
          <input matInput type="number" placeholder="Postcode" [(ngModel)]="proPost">
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="each-property-row">
      <ion-col col-12>
        <ion-row class="full-height">
          <input matInput type="text" placeholder="County" [(ngModel)]="proCounty">
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="escrow-add">
      <button mat-raised-button (click)="addPropertyAddress()">
        Add
      </button>
    </ion-row>
  </ion-row>

  <ion-row class="each-create-row">
    <button mat-raised-button (click)="propertySalePrice()">
      Property Sale Price
    </button>
    <img src="assets/imgs/check.png" *ngIf="proSaleCheck" />
  </ion-row>

  <ion-row class="input-property-addres" *ngIf="flagPropertySalePrice">

    <ion-row class="each-property-row property-sale-price">
      <ion-col col-6>
        <ion-row class="full-height">
          <span>
            Price
          </span>
        </ion-row>
      </ion-col>

      <ion-col col-6>
        <ion-row class="full-height">
          <ion-col col-2>
            <ion-row class="full-height">
              <span class="dollar-symbole">
                $
              </span>
            </ion-row>
          </ion-col>

          <ion-col col-10>
            <ion-row class="full-height">
              <input type="number" (focus)="focusOnProSalePrice()" (focusout)="focusOutProSalePrice()" [(ngModel)]="proSalePrice">
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="escrow-add">
      <button mat-raised-button (click)="addProSalePrice()">
        Add
      </button>
    </ion-row>
  </ion-row>

  <ion-row class="each-create-row">
    <button mat-raised-button (click)="sellerDetails()">
      Seller Details
    </button>
    <img src="assets/imgs/check.png" *ngIf="selCheck" />
  </ion-row>

  <ion-row class="input-property-addres" *ngIf="flagSellerDetails">

    <ion-row *ngIf="selSearchFlag">
      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input type="email" pattern="regexStr" placeholder="Email" [(ngModel)]="selEmail">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="search-escrow-row">
        <button mat-raised-button (click)="sellEmailSearch()">
          Search for User
        </button>
      </ion-row>
    </ion-row>

    <ion-row *ngIf="!selSearchFlag && !selShowFlag">
      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="First Name" [(ngModel)]="selFirstName">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="Last Name" [(ngModel)]="selLastName">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="email" placeholder="Email Address" [(ngModel)]="selEmail">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <!-- <ion-datetime type="text" placeholder="Date Of Birth" [(ngModel)]="selDob"> -->
            <ion-datetime displayFormat="MM/DD/YYYY" min="1950" max="2018" placeholder="Date Of Birth" [(ngModel)]="selDob">
            </ion-datetime>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="Address" [(ngModel)]="selAddress">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="City" [(ngModel)]="selCity">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="State" [(ngModel)]="selState">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <mat-select [(ngModel)]="selCountry" placeholder="Country" required name="country">
              <mat-option *ngFor="let list of selCountryList" [value]="list" (click)="selectCountry()">
                {{ list }}
              </mat-option>
            </mat-select>
            <!-- <input matInput type="text" placeholder="Country" [(ngModel)]="selCountry"> -->
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="number" placeholder="Postcode / Zip Code" [(ngModel)]="selPostal">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="{{selUniqueType}}" [formControl]="selUniqueCtrl" placeholder="{{selUniquePlace}}" [(ngModel)]="selUnique">

            <!-- <mat-error *ngIf="selUniqueCtrl.hasError('required')">
              Unique Field is required.
            </mat-error> -->

            <ion-row class="mat-error-show" *ngIf="selUniqueCtrl.hasError('pattern') && selUnique != '' && selUniqueType == 'number'">
              Please input valid Unique with {{selUniqueLength}} digitals.
            </ion-row>

            <ion-row class="mat-error-show" *ngIf="selUniqueCtrl.hasError('pattern') && selUnique != '' && selUniqueType == 'text'">
              Please input valid Unique with {{selUniqueLength}} digitals and letters.
            </ion-row>

          </ion-row>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row *ngIf="!selSearchFlag && selShowFlag">
      <ion-row class="each-show-row">
        <span>
          {{selFirstName}} {{selLastName}}
        </span>
      </ion-row>

      <ion-row class="each-show-row">
        <span>
          {{selAddress}}
        </span>
      </ion-row>

      <ion-row class="each-show-row">
        <span>
          Your Town {{selCity}}
        </span>
      </ion-row>

      <ion-row class="each-show-row">
        <span>
          Email : {{selEmail}}
        </span>
      </ion-row>

      <ion-row class="each-show-row">
        <span>
          Verified User: {{selVerify}}
        </span>
      </ion-row>
    </ion-row>

    <ion-row class="escrow-add" *ngIf="!selSearchFlag">
      <button mat-raised-button (click)="addSeller()">
        {{addSellButton}}
      </button>
    </ion-row>
  </ion-row>

  <ion-row class="each-create-row">
    <button mat-raised-button (click)="buyerDetails()">
      Buyer Details
    </button>
    <img src="assets/imgs/check.png" *ngIf="buyCheck" />
  </ion-row>

  <ion-row class="input-property-addres" *ngIf="flagBuyerDetails">

    <ion-row *ngIf="buySearchFlag">
      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input type="email" placeholder="Email" [(ngModel)]="buyEmail">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="search-escrow-row">
        <button mat-raised-button (click)="buyEmailSearch()">
          Search for User
        </button>
      </ion-row>
    </ion-row>

    <ion-row *ngIf="!buySearchFlag && !buyShowFlag">
      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="First Name" [(ngModel)]="buyFirstName">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="Last Name" [(ngModel)]="buyLastName">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="email" placeholder="Email Address" [(ngModel)]="buyEmail">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <!-- <ion-datetime type="text" placeholder="Date Of Birth" [(ngModel)]="selDob"> -->
            <ion-datetime displayFormat="MM/DD/YYYY" min="1950" max="2018" placeholder="Date Of Birth" [(ngModel)]="buyDob">
            </ion-datetime>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="Address" [(ngModel)]="buyAddress">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="City" [(ngModel)]="buyCity">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="State" [(ngModel)]="buyState">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <mat-select [(ngModel)]="buyCountry" placeholder="Country" required name="country">
              <mat-option *ngFor="let list of buyCountryList" [value]="list" (click)="selectBuyCountry()">
                {{ list }}
              </mat-option>
            </mat-select>
            <!-- <input matInput type="text" placeholder="Country" [(ngModel)]="buyCountry"> -->
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="number" placeholder="Postcode / Zip Code" [(ngModel)]="buyPostal">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="{{buyUniqueType}}" [formControl]="buyUniqueCtrl" placeholder="{{buyUniquePlace}}" [(ngModel)]="buyUnique">

            <ion-row class="mat-error-show" *ngIf="buyUniqueCtrl.hasError('pattern') && buyUnique != '' && buyUniqueType == 'number'">
              Please input valid Unique with {{buyUniqueLength}} digitals.
            </ion-row>

            <ion-row class="mat-error-show" *ngIf="buyUniqueCtrl.hasError('pattern') && buyUnique != '' && buyUniqueType == 'text'">
              Please input valid Unique with {{buyUniqueLength}} digitals and letters.
            </ion-row>

          </ion-row>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row *ngIf="!buySearchFlag && buyShowFlag">
      <ion-row class="each-show-row">
        <span>
          {{buyFirstName}} {{buyLastName}}
        </span>
      </ion-row>

      <ion-row class="each-show-row">
        <span>
          {{buyAddress}}
        </span>
      </ion-row>

      <ion-row class="each-show-row">
        <span>
          Your Town {{buyCity}}
        </span>
      </ion-row>

      <ion-row class="each-show-row">
        <span>
          Email : {{buyEmail}}
        </span>
      </ion-row>

      <ion-row class="each-show-row">
        <span>
          Verified User: {{buyVerify}}
        </span>
      </ion-row>
    </ion-row>

    <ion-row class="escrow-add" *ngIf="!buySearchFlag">
      <button mat-raised-button (click)="addBuyer()">
        {{addBuyButton}}
      </button>
    </ion-row>
  </ion-row>

  <ion-row class="each-create-row">
    <button mat-raised-button (click)="disbursements()">
      Disbursements
    </button>
    <img src="assets/imgs/check.png" *ngIf="disCheck" />
  </ion-row>

  <ion-row class="input-property-addres" *ngIf="flagDisbursements">

    <ion-row *ngIf="disSearchFlag">
      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input type="email" placeholder="Email" [(ngModel)]="disEmail">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="search-escrow-row">
        <button mat-raised-button (click)="disEmailSearch()">
          Search for User
        </button>
      </ion-row>
    </ion-row>

    <ion-row *ngIf="!disSearchFlag && !disShowFlag">
      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="First Name" [(ngModel)]="disFirstName">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="Last Name" [(ngModel)]="disLastName">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="email" placeholder="Email Address" [(ngModel)]="disEmail">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <!-- <ion-datetime type="text" placeholder="Date Of Birth" [(ngModel)]="selDob"> -->
            <ion-datetime displayFormat="MM/DD/YYYY" min="1950" max="2018" placeholder="Date Of Birth" [(ngModel)]="disDob">
            </ion-datetime>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="Address" [(ngModel)]="disAddress">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="City" [(ngModel)]="disCity">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="text" placeholder="State" [(ngModel)]="disState">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <mat-select [(ngModel)]="disCountry" placeholder="Country" required name="country">
              <mat-option *ngFor="let list of disCountryList" [value]="list" (click)="selectDisCountry()">
                {{ list }}
              </mat-option>
            </mat-select>
            <!-- <input matInput type="text" placeholder="Country" [(ngModel)]="disCountry"> -->
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="number" placeholder="Postcode / Zip Code" [(ngModel)]="disPostal">
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="each-property-row">
        <ion-col col-12>
          <ion-row class="full-height">
            <input matInput type="{{disUniqueType}}" [formControl]="disUniqueCtrl" placeholder="{{disUniquePlace}}" [(ngModel)]="disUnique">

            <ion-row class="mat-error-show" *ngIf="disUniqueCtrl.hasError('pattern') && disUnique != '' && disUniqueType == 'number'">
              Please input valid Unique with {{disUniqueLength}} digitals.
            </ion-row>

            <ion-row class="mat-error-show" *ngIf="disUniqueCtrl.hasError('pattern') && disUnique != '' && disUniqueType == 'text'">
              Please input valid Unique with {{disUniqueLength}} digitals and letters.
            </ion-row>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-row>

    <ion-row *ngIf="!disSearchFlag && disShowFlag">
      <ion-row class="each-show-row">
        <span>
          {{disFirstName}} {{disLastName}}
        </span>
      </ion-row>

      <ion-row class="each-show-row">
        <span>
          {{disAddress}}
        </span>
      </ion-row>

      <ion-row class="each-show-row">
        <span>
          Your Town {{disCity}}
        </span>
      </ion-row>

      <ion-row class="each-show-row">
        <span>
          Email : {{disEmail}}
        </span>
      </ion-row>

      <ion-row class="each-show-row">
        <span>
          Verified User: {{disVerify}}
        </span>
      </ion-row>
    </ion-row>

    <ion-row *ngIf="!disSearchFlag">
      <ion-row class="dis-value property-sale-price">
        <ion-col col-7>
          <ion-row class="full-height">
            <span>
              Disbursement Value
            </span>
          </ion-row>
        </ion-col>

        <ion-col col-5>

          <ion-row class="full-height">
            <ion-col col-2>
              <ion-row class="full-height">
                <span class="dollar-symbole">
                  $
                </span>
              </ion-row>
            </ion-col>

            <ion-col col-10>
              <ion-row class="full-height">
                <input type="number" [(ngModel)]="disValue" (focus)="focusOnDisbursement()" (focusout)="focusOutDisbursement()">
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="dis-title">
        <span>
          Disbursement Description
        </span>
      </ion-row>

      <ion-row class="dis-description">
        <textarea [(ngModel)]="disDes"></textarea>
      </ion-row>

      <ion-row class="escrow-add">
        <button mat-raised-button (click)="addDisbursement()">
          {{addDisButton}}
        </button>
      </ion-row>
    </ion-row>
  </ion-row>

  <ion-row class="each-create-row">
    <button mat-raised-button class="start-transaction" (click)="startTransaction()">
      Start Transaction
    </button>
  </ion-row>

</ion-content>